################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/Detectors/obj
/Detectors/bin
/Detectors/repo-analysis-detectors.csproj.user
/Detectors/packages
/TestApp/bin
/TestApp/obj
